.nav{
    display: flex;
    justify-content: flex-end;
    background-color: #2d4059;
    padding: 10px;
    flex-wrap: wrap;
    
}
.item{
color: white;
padding: 10px;
text-decoration: none;
text-transform: uppercase;
font-family: 'Roboto', sans-serif;
}
.first{
    margin-right: auto;
}
.about{
    display: flex;
}
.harvey{
    flex: 1;
}
body{
    background-color: #d6e6f2;
}
body:hover{
    background-color: #f5eee6;
}
.law{
    display: flex;
}
.text{
    align-self: center;
    padding: 10px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}
.skills{
    display: flex;
    justify-content: center;
}
.heading{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #112d4e;
}
.heading:hover{
    color: #07689f;
}
.branch{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.legal{
    list-style: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 30px;
}
.legal:hover{
    background-color: #384259;
    color: white;
}
.money{
    display: flex;
    justify-content: space-evenly;
}
.price{
    list-style: none;
    font-size: 20px;
    font-family:'Roboto', sans-serif ;
    padding: 30px;
}
.price:hover{
    background-color: #384259;
    color: white;
}
.label{
    display: flex;
    flex-direction: column;
    font-family:'Roboto', sans-serif ;
}
.btn{
    display: flex;
    justify-content: center;
}
.cta{
    color: white;
    background-color: #3f72af;
    text-transform: uppercase;
    font-size: 15px;
    padding: 20px;
    cursor: help;
    flex: 1;
}
.cta:hover{
    background-color: #384259;
}

@media all and (max-width:800px){
    .nav{
        display: flex;
        
    }
    .harvey{
        width: 100%;
    }
}

@media all and (max-width:540px){
    .law{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    img{
        width: 100%;
    }
}

@media all and (max-width:500px){
    .nav{
        display: flex;
        flex-direction: column;
    } 
    .law{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    img{
        width: 100%;
    }
    .money{
        display: flex;
        flex-direction: column;
    }
    .heading{
        margin-left: 20px;
    }
}